<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="pull-right">
      <a class="btn btn-default btn-sm aviator" href="/admin/students/new/" role="button">Create</a>
    </div>
    Students
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Date of Birth</th>
        <th>Rank</th>
        <th>Roles</th>
        <th>Account</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-hover">
      {{#data}}
        <tr>
          <td>{{firstName}} {{lastName}}</td>
          <td>{{dateOfBirth}}</td>
          <td>{{rank}}</td>
          <td>
            {{#roles}}
              {{#if @last}}
                {{.}}
              {{^}}
                {{.}}, 
              {{/if}}
            {{/roles}}</td>
          <td>
            {{#account.contacts.[0]}}
              <a href="/admin/accounts/{{../id}}/edit/">{{firstName}} {{lastName}}</a>
            {{/account.contacts.[0]}}
          </td>
          <td>
            <div class="btn-group">
              <a class="btn btn-default btn-xs aviator" href="/admin/students/{{id}}/edit/" role="button">Edit</a>
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a class="aviator" href="/admin/students/{{id}}/attendance/">View Attendance</a></li>
                <li><a class="aviator" href="/admin/students/{{id}}/notes/">View Notes</a></li>
                <li><a class="aviator" href="/admin/students/{{id}}/delete/">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {{/data}}
      {{^data}}
        <td colspan="5">No students found</td>
      {{/data}}
    </tbody>
  </table>
</div>
