<div>
  <h3>Disciplinary Notes for <a href="/admin/students/{{student.id}}/edit/" class="aviator">{{student.firstName}} {{student.lastName}}</a></h3>
</div>

{{#notes}}
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <label for="">Date:</label>
        <div>{{date createdAt format="L LT"}}</div>
      </div>
      <div class="form-group">
        <label for="">Instructor:</label>
        <div><a href="/admin/students/{{instructor.id}}/edit/" class="aviator">{{instructor.firstName}} {{instructor.lastName}}</a></div>
      </div>
      <div class="form-group">
        <label for="">Disciplinary Note</label>
        <div>{{text}}</div>
      </div>
    </div>
  </div>
{{/notes}}
{{^notes}}
  <div class="alert alert-success">No Disciplinary Notes for {{student.firstName}} {{student.lastName}}</div> 
{{/notes}}

<div>
  <a href="/admin/students/" class="btn btn-default aviator">Back</a>
</div>
