{{#each .}}
  {{#if @first}}
    <div>
      Disciplinary Notes for {{student.firstName}} {{student.lastName}}
    </div>
  {{/if}}

  <div class="panel panel-default">
    <div>
      <div>Date: {{createdAt}}</div>
      <div>Instructor: {{instructor.firstName}} {{instructor.lastName}}</div>
      <div>{{text}}</div>
    </div>
  </div>
{{/each}}
