<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Instructor</th>
      <th><abbr title="Poomsae Forms">PF</abbr></th>
      <th><abbr title="Appreciation Forms">AF</abbr></th>
      <th><abbr title="Self Defence">SD</abbr></th>
      <th><abbr title="Step Sparring">SS</abbr></th>
      <th style="width: 100%;">Additional Notes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {{#.}}
    <tr>
      <td>{{date createdAt format="L"}}</td>
      <td style="white-space: nowrap;"><a href="/admin/students/{{instructor.id}}/edit/" class="aviator">{{instructor.firstName}} {{instructor.lastName}}</a></td>
      <td>
        {{#poomsaeForms}}
          <i class="fa fa-check" aria-hidden="true"></i>
        {{/poomsaeForms}}
        {{^poomsaeForms}}
          <i class="fa fa-times" aria-hidden="true"></i>
        {{/poomsaeForms}}
      </td>
      <td>
        {{#appreciationForms}}
          <i class="fa fa-check" aria-hidden="true"></i>
        {{/appreciationForms}}
        {{^appreciationForms}}
          <i class="fa fa-times" aria-hidden="true"></i>
        {{/appreciationForms}}
      </td>
      <td>
        {{#selfDefense}}
          <i class="fa fa-check" aria-hidden="true"></i>
        {{/selfDefense}}
        {{^selfDefense}}
          <i class="fa fa-times" aria-hidden="true"></i>
        {{/selfDefense}}
      </td>
      <td>
        {{#stepSparring}}
          <i class="fa fa-check" aria-hidden="true"></i>
        {{/stepSparring}}
        {{^stepSparring}}
          <i class="fa fa-times" aria-hidden="true"></i>
        {{/stepSparring}}
      </td>
      <td>{{extra}}</td>
    </tr>
  {{/.}}
  {{^.}}
    <tr>
      <td colspan="7">No lessons have been logged</td>
    </tr>
  {{/.}}
  </tbody>
</table>
