<div class="panel panel-default">
  <div class="panel-heading clearfix">
    Reports
  </div>
  <div class="container">
      <div class='col-md-12'>
          <div class="form-group">
              <div class='input-group date' id='dayPicker'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
      </div>
  </div>
  
  <h1>Students with less than 2 times attendance per week</h1>
  <ul>
  {{#regular}}
    <li>
      <a href="/admin/students/{{id}}/attendance/?month={{date startDate format="MMYYYY"}}">
        {{firstName}} {{lastName}}
      </a> <span class="badge">{{numeral statistics.regularAverage format="0.00"}}/2</span>
    </li>
  {{/regular}}
  {{^regular}}
    <li>No Students Found</li>
  {{/regular}}
  </ul>
  <h1>Students with less than 4 demo classes over the last 28 days</h1>
  <ul>
  {{#demo}}
    <li>
      <a href="/admin/students/{{id}}/attendance/?month={{date startDate format="MMYYYY"}}">
        {{firstName}} {{lastName}}
      </a> <span class="badge">{{statistics.demos}}/4</span>
    </li>
  {{/demo}}
  {{^demo}}
    <li>No Students Found</li>
  {{/demo}}
  </ul>
  <h1>Students with less than 2 sparring classes over the last 28 days</h1>
  <ul>
  {{#sparring}}
    <li>
      <a href="/admin/students/{{id}}/attendance/?month={{date startDate format="MMYYYY"}}">
        {{firstName}} {{lastName}}
      </a> <span class="badge">{{statistics.sparring}}/4</span>
    </li>
  {{/sparring}}
  {{^sparring}}
    <li>No Students Found</li>
  {{/sparring}}
  </ul>
</div>
